@import "tailwindcss";
:root {
 --primary-light-background: rgb(241, 236, 236);
 --primary-dark-background: rgb(9, 6, 6);
 --primary-text-color: rgb(92, 81, 81);
}

body{
  background-color: var(--primary-light-background);
  color: var(--primary-text-color);
  padding: 15px;
}